# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ambiente virtual
venv*/
.env/
.venv/

# =========================
# Arquivos grandes / mídia
# =========================
*.mp4
*.wav
*.tflite
*.mov
*.avi

# =========================
# Logs
# =========================
*.log

# =========================
# Pastas geradas
# =========================
ai_clips/
temp/
build/
dist/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db